<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.happyjob.study.calDay.dao.CalDayDao">
	<select id="dateCheckList" resultType="kr.happyjob.study.calDay.model.CalDayModel">
		<!-- 휴가신청일, 승인여부, 승인여부갯수 신청일 승인여부 순서로 -->
	
SELECT DATE_FORMAT(appro_req_date, '%Y-%m-%d') AS vaca_req_date,
       appro_yn,
       COUNT(*) AS vaca_yn_cnt
FROM tb_appro
GROUP BY DATE_FORMAT(appro_req_date, '%Y-%m-%d'), appro_yn;


	</select>

<!-- 부서명 신청일 직원명 승인여부 -->
	<select id="dateCheckDList" resultType="kr.happyjob.study.calDay.model.CalDayModel">
		SELECT CASE ll.appro_type_cd
              WHEN 'E' THEN '지출'
              WHEN 'V' THEN '휴가'
              WHEN 'D' THEN '발주'
            END AS appro_type_cd
          ,ll.dept_name
		      ,dc.detail_name AS level_name
		      ,ll.name
		      ,ll.appro_yn
		FROM
		    (SELECT ap.appro_type_cd
		          ,ui.name AS name
		          ,ui.level_cd as level_cd
		          ,ui.dept_cd as dept_cd
		          ,ap.appro_yn as appro_yn
		          ,dc.detail_name AS dept_name
		          ,ap.appro_req_date
		        FROM   tb_appro ap
		        inner JOIN tb_userinfo ui ON ui.loginID = ap.loginID
		        inner JOIN tb_detail_code dc ON dc.detail_code = ui.dept_cd)ll
		        inner join tb_detail_code dc on dc.detail_code = ll.level_cd
        WHERE ll.appro_req_date=STR_TO_DATE(#{vacaDate}, '%Y-%m-%d')
		ORDER BY ll.appro_yn DESC;
	</select>
</mapper>
