<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.happyjob.study.selSaD.dao.SelSaDDao">

    <!--  목록 조회 -->
    <select id="saleDayList" resultType="kr.happyjob.study.selSaD.model.SelSaDModel">
        SELECT
        od.order_date,
        od.order_no,
        cl.clnt_name,
        pc.pro_name,
        sl.splr_name,
        pd.product_name,
        pd.product_serial,
        pd.product_price,
        pd.product_unit_price,
        odt.order_dt_amt,
        odt.order_dt_amt * pd.product_price AS total_order_price
        FROM tb_order od
        INNER JOIN tb_clnt cl ON od.clnt_no = cl.clnt_no
        INNER JOIN tb_order_dt odt ON od.order_no = odt.order_no
        INNER JOIN tb_product pd ON odt.product_no = pd.product_no
        INNER JOIN tb_pro pc ON pd.pro_cd = pc.pro_cd
        INNER JOIN tb_splr sl ON pd.splr_no = sl.splr_no
        <where>
            <if test="(order_date != null) and (!order_date.equals(''))">
                and od.order_date = STR_TO_DATE(#{order_date}, '%Y-%m-%d')
            </if>

        </where>
        ORDER BY od.order_no
        LIMIT #{pageindex}, #{pageSize}

    </select>

    <select id="selectedDayList" resultType="kr.happyjob.study.selSaD.model.SelcectedDayModel">
        SELECT
            od.order_date,
            SUM(odt.order_dt_amt) as total_order_dt_amt,
            SUM(od.order_tot_price) as total_order_tot_price,
            SUM(pd.product_unit_price * odt.order_dt_amt) as total_product_unit_price,
            (SUM(od.order_tot_price) - SUM(pd.product_unit_price * odt.order_dt_amt)) as net_profit
        FROM tb_order od
                 INNER JOIN tb_order_dt odt ON od.order_no = odt.order_no
                 INNER JOIN tb_product pd ON odt.product_no = pd.product_no
        <if test="(order_date != null) and (!order_date.equals(''))">

            WHERE STR_TO_DATE(#{order_date}, '%Y-%m-%d') >= od.order_date
            AND od.order_date >= DATE_SUB(STR_TO_DATE(#{order_date}, '%Y-%m-%d'), INTERVAL 7 DAY)


        </if>
        GROUP BY od.order_date
        <if test="(order_date != null) and (!order_date.equals(''))">
            HAVING STR_TO_DATE(#{order_date}, '%Y-%m-%d') >= od.order_date
        </if>
        ORDER BY od.order_date desc


    </select>

    <select id="countSaleDayList" resultType="int">
        SELECT COUNT(*)
        FROM tb_order od
        <where>
            <if test="(order_date != null) and (!order_date.equals(''))">
                and od.order_date = STR_TO_DATE(#{order_date}, '%Y-%m-%d')
            </if>


        </where>
    </select>

</mapper>